// 页面内容盒子
f_content() {
    min-width: _minContentWidth;
    max-width: _maxContentWidth;
    margin: _headerContentHeight + 30px 30px 0;
    background: #fff;
    padding: 30px;
}

.page-style {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

